@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-silkscreen: 'Silkscreen', sans-serif;
}

* {
  @apply focus-visible:outline-3 focus-visible:outline-offset-2 focus-visible:outline-dotted focus-visible:outline-[#fbbf24];
}

/* Custom Scrollbar Styles */
.custom-scrollbar {
  /* Webkit browsers */
  scrollbar-width: thin;
  scrollbar-color: #fbbf24 #374151;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #374151;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 10px;
  border: 1px solid #374151;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
}
